.an {
    --duration: 1s;
}

.an-scroll-x {
    --start: -100%;
    --end: 100%;
    animation: scroll-x var(--duration) linear infinite;
}
@keyframes scroll-x {
    0% {
        transform: translateX(var(--start));
    }
    100% {
        transform: translateX(var(--end));
    }
}

.an-rotate {
    --start: 0deg;
    --end: 360deg;
    animation: rotate var(--duration) linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(var(--start));
    }
    100% {
        transform: rotate(var(--end));
    }
}

.an-heartbeat {
    --scale-start: 1;
    --scale-end: 1.2;
    animation: heartbeat var(--duration) infinite;
}
@keyframes heartbeat {
    0%, 100% {
        transform: scale(var(--scale-start));
    }
    10% {
        transform: scale(var(--scale-end));
    }
    20% {
        transform: scale(var(--scale-start));
    }
}