.ci {
    display: inline-block;
    width: 1em;
    height: 1em;

    background-color: currentColor;

    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    --url: "";

    -webkit-mask-image: var(--url);
    mask-image: var(--url);
}

.ci-dino { --url: url("/assets/icons/dinosaur.svg"); }
.ci-cactus { --url: url("/assets/icons/cactus.svg"); }
.ci-sun { --url: url("/assets/icons/sun.svg"); }
